.Searchbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    
    li {
        padding: .5rem 2rem;
    }
}

@media (min-width: 500px) {
    .Searchbar {
        flex-flow: row;
    }
}