.Button {
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid #000;
    display: inline-block;
    cursor: pointer;
    background-color: sandybrown;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: orange;
    }
}